.main-container{
  background-color: #e6e6e6;
  margin-top: 50px
}

.main-jumbo{
  background-color: #39393a
}
.div-line{
  border-top: 2px solid #e6e6e6
}

.login-register{
  display: flex;
  justify-content: space-around
}
.or{
  text-align: center
}
.temp{
  border: 2px solid black
}

.login-col{
  display: flex;
  justify-content: flex-end;
}

.or-col{
  display: flex;
  justify-content: center;
}

.register-col{
  display: flex;
  justify-content: flex-start;
}

.login-button{
  background-color: #19297C;
  color: #e6e6e6;
  border: none
}

.register-button{
  background-color: #0496FF;
  color: #e6e6e6;
  border: 0px
}

.login-button:hover{
  background-color: #e6e6e6;
  color: #19297c;
  border: 1px solid  #0496FF
}

.register-button:hover{
  background-color: #e6e6e6;
  color: #0496FF;
  border: 1px solid #19297c 
}